@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html{
    font-family: 'Space Mono', monospace;
}
::-webkit-scrollbar{
    display: none;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #ff0000);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, #0099ff);
}::-webkit-scrollbar-track{
    background: transparent;
}
/* -------------- separetional content ----- */
#preloader{
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
    transition: .5s ease-out;
}
.active-nav{
    color: #0099ff;
    border-bottom: .2em solid #0099ff;
}

.ul-line{
    position: fixed;
    top: 0;
    right: 0;
    height: 0px;
    width: 5px;
    background: #fd4747;
    border-radius: 50px;
}
.mobile-menu-list{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    right: 0;
    height: 10em;
    background-color: rgb(48, 41, 139);
}
.mobile-menu-list svg{
    background-color: #009999;
    margin: auto;
    padding: 5px;
    border-radius: 50%;
    display: flex;

}
.mobile-menu-list ul{
    display: flex;
    padding-top: 1px;
    list-style: none;
    gap: 3em;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.mobile-menu-list ul a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

 /* --------------- end separetional ------ */
/* ---------------- nav -------- */
.container-body{
    height: 100vh;
}
#header{
    background: rgba( 0, 0, 0, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: sticky;
    top: 0;
    max-width: 80%;
    margin: auto;
    display: flex;
}
.navbar{
    padding: 1vw;
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.nav-logo img{
    border-radius: 50%;
    overflow: hidden;
}
.nav-link ul{
    display: flex;
    list-style: none;
    gap: 2vw;
}
.nav-link li a:hover{
    color: #0099ff;
}
.nav-link li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.0em;
    text-transform: uppercase;
}
.icon-absolute{
    position: absolute;
    left: 10px;
    top: 30%;
}
.scroll-position{
    color: #fff;
    position: absolute;
    right: -50px;
    top: 40%;
    transform: rotate(90deg);
}
.scroll-position span{
    display: flex;
    gap: 10px;
    font-size: 20px;
    word-spacing: 10px;
}
.scroll-position span hr{
    width: 3em;
    background-color: #fff;
}
ion-icon{
    fill: #fff;
    font-size: 25px;
    padding: 10px;
    display: block;
}
ion-icon:hover{
    transform: scale(1.5);
}
.icon-absolute hr{
    transform: rotate(90deg);
    width: 2em;
}
/* ------------------------ main ------------- */
#home{
    align-items: center;
    margin:  10%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.hero-profile img{
    border-radius: 50%;
    border: .5vw solid #009999;
    width: 13em;
    height: 13em;
}
.h1 {
    display: flex;
    gap: 1vw;
    font-size:2.2em;
    font-weight: 900;
}
.h1 #e span:hover{
    color: #0099ff;
}
.h1 #c span:hover{
    color: #fff;
}
.hero-text{
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.h1 h1:nth-child(1){color: #fff;}
.h1 h1:nth-child(2){color: #0099ff;}

#typing{
    color: #fff;
    font-size: 1.5em;
}

.cta-main{
    display: flex;
    gap: 2vw;
    align-items: center;
}

.learn-cta span{
    color: #fff;
    font-size: 1.1em;
    padding: 1.6vw;
    background-color: #ff0000;
    border-radius: 25px;
    
}
.video{
    display: flex;
    color: #fff;
    align-items: center;
    gap: 2vw;
    border: .1px solid #ff0000;
    width: 3.26em;
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
}
.video:hover{
    width: 10em;
    transition: .5s ease;
}
.video span:nth-child(1){
    background-color: #fff;
    padding: 1vw;
    border-radius: 50%;
    border: .1px solid #ff0000;
}


/* ------------------ about ------------- */

.about-img .img-me{
    border: 1px solid #ff0000;
    height: 45vw;
    width: 40vw;
    overflow: hidden;
    position: sticky;
    top: 10px;
}
.about-me .img-me img{
    width: 35vw;
}
.about-me{
    display: flex;
    margin: auto;
    gap: 1em;
    max-width: 80%;
    justify-content: space-around;
}
.about-text h2{
    font-size: 3vw;
}
.about-text{
    color: #fff;
    max-width: 45vw;
}
.about-text span
{
    color: #ff3232;
    font-size: 18px;
}
.about-text p{
    font-size: 2vw;
    opacity: .7;
}

.about-text .description{
    display: grid;
    grid-gap: 1vw;
    padding: 15px;
    
}
.about-text .description span{
    display: flex;
    gap: 10px;
}

.about-text .description span li:nth-child(2){ 
    list-style: none;
    color: #999;

}
.about-text button{
    margin: 20px;
    width: 8em;
    height: 2.2em;
    font-size: 1.5em;
    background-color: transparent;
    cursor: pointer;
}
.about-text #b1{
    background: #fd4747;
    color: #fff;
    border: 1px solid hsl(0, 78%, 61%);
}
.about-text #b1:hover{
    background: transparent;
    color: #fd4747;
}
.about-text #b2{
    background: transparent;
    color: #fd4747;
    border: 1px solid hsl(0, 78%, 61%);
}
.about-text #b2:hover{
    background: #fd4747;
    color: #fff;
}
 /* --------------- skill ---------- */
 #skill{
    width: 80%;
    height: auto;
    margin: auto;
    color: #fff; /* temp */
 }
 .header-skill{
    width: 100%;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
    text-align: center;
}
.header-skill h2{margin-bottom: -5px;}
.header-skill h2 span{color: #ff0000;}
.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.1em;
}
.skill-main .skill-bar .skill-info{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.skill-bar .bar{
    width: 100%;
    height: 8px;
    background-color: rgb(75, 65, 65);
    border-radius: 25px;
    margin-top: .2em;
    position: relative;
}
.skill-bar .bar span{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fd4747;
    border-radius: 25px;
}

/* /////////////////////////// reapitaion //////////////////////////// */
/* ------------- html ------------- */
.skill-bar .bar .html{
    width: 90%;
    animation: html 5s;
}
@keyframes html{
    0%{width: 0;}
    100%{width: 90%;}
}
/* ------------- css ------------- */
.skill-bar .bar .css{
    width: 90%;
    animation: css 5s;
}
@keyframes css{
    0%{width: 0;}
    100%{width: 90%;}
}
/* ------------- js ------------- */
.skill-bar .bar .js{
    width: 80%;
    animation: js 5s;
}
@keyframes js{
    0%{width: 0;}
    100%{width: 80%;}
}
/* ------------- mongo ------------- */
.skill-bar .bar .mongo{
    width: 50%;
    animation: mongo 5s;
}
@keyframes mongo{
    0%{width: 0;}
    100%{width: 50%;}
}
/* ------------- django ------------- */
.skill-bar .bar .django{
    width: 70%;
    animation: django 5s;
}
@keyframes django{
    0%{width: 0;}
    100%{width: 70%;}
}
/* ------------- react ------------- */
.skill-bar .bar .react{
    width: 50%;
    animation: react 5s;
}
@keyframes react{
    0%{width: 0;}
    100%{width: 50%;}
}
/* ------------- node ------------- */
.skill-bar .bar .node{
    width: 50%;
    animation: node 5s;
}
@keyframes node{
    0%{width: 0;}
    100%{width: 50%;}
}
/* ------------- python ------------- */
.skill-bar .bar .python{
    width: 60%;
    animation: python 5s;
}
@keyframes python{
    0%{width: 0;}
    100%{width: 60%;}
}
/* /////////////////////////// end reapitaion //////////////////////////// */
/* ----------- project ----------- */

.project-header{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}
.project-header h2{
    color: #fff;
    font-size: 3em;
}
 /* ------ project product ----- */
.main-project{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;
    place-content: center;
    margin: auto;
    gap: 1em;
}

.card-layout{
    width: 20em;
    height: 20em;
    position: relative;
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
}
.card-layout:hover img{
    transform: scale(1.03);
    object-fit: cover;
}
.card-warpper img{
    width: 28em;
    border-radius: 10px;
    object-fit: cover;
}
.card{
    position: absolute;
    margin-top: -30em;
    width: 20em;
    height: 22em;
    display: none;
    transition: 1s ease-in-out;
}
.card-warpper:hover .card{display: block;}
.card .h1{
    display: block;
    margin: 5em 0;
    color: #ff4747;
    text-align: center;
    width: 100%;
}
.card h1{
    font-size: 25px;
    color: #ff4747;
}
.card p{
    font-size: 17px;
    transform: rotate(-90deg);
    position: absolute;
    margin-top: 9em;
}
.card p:nth-child(3){
    color: #0099ff;
    background-color: #fff;
}










/* ------------ -------------------- */
.project-header span, .header-contact span{font-size: 20px;color:#fd4747;}
/* ------------- -------------------- */
/* ------------ contact ----------- */
#contact{margin-top: 5%;}

.header-contact{
    margin: auto;
    display: flex;
    padding: 5em;
    justify-content: center;
    text-align: center;
}
.header-contact h2{
    color: #fff;
    font-size: 3em;
}

.header-contact span span{
    color:#ffffff;
}

.contact-bar{
    margin: auto;
    display: flex;
    justify-content: center;
}
.contact-info{
    display: flex;
    max-width: 70%;
    grid-gap: 2em;
    flex-wrap: wrap;
}
.cont-c{
    align-items: center;
    width: 15em;
    margin: auto;
    height: 3em;
    display: flex;
    gap: 1em;
    padding-left: 4vw;
    background-color: #222;
    color:hsl(0, 78%, 61%);
    font-size: 1.2em;
}
.contact-info a{
    text-decoration: none;
    align-items: center;
}


/* ========================
            FAQ
======================== */
.faq-container{
    margin: 5%;
    justify-content: center;
    
}
.shafjkgsdahfgsda{
    display: flex;
}
.faq-container .hq{
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    color: #fff;
}
.container-q{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.accordion-item{
    background-color: #11172444;
    border-radius: .4em;
    padding: 1rem;
    margin-bottom: 1rem;
}
.accordion-link{
    font-size: 1.5rem;
    color: rgb(255, 255, 255, .8);
    text-decoration: none;
    background-color: #3d2f2f34;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
    cursor: pointer;
}
.accordion-link i{
    color: #e7d5ff;
    padding: .5rem;
}

.accordion-item .answer{
    height: 0;
    overflow: hidden;
    position: relative;
    background: #a08a8a1c;
    transition: height 600ms;
}
.accordion-item .answer::before{
    content: '';
    position: absolute;
    width: .3em;
    height: 90%;
    background-color: #ff4747;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.accordion-item .answer p{
    color: rgb(212, 212, 212);
    font-size: 1.1rem;
    padding: 2rem;
}
.accordion-item .answer li{
    color: rgb(212, 212, 212);
}

/* ========================= 
popup 
 ========================= */
.fixed-button{
    position: fixed;
    bottom: 3px;
    right: 3px;
}
.contact-hover-button{
    display: flex;
    height: 2.7em;
    width: 2.7em;
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
    transition: .5s ease;
    align-items: center;
}
.contact-hover-button h2{font-size: 20px;}
.contact-hover-button h2 a{font-size: 20px;color: #ff4747;}
.contact-hover-button:hover{
    width: 10em;
    transition: .5s;
}
.contact-focus-button{
    width: 10em;
    transition: .5s;
}
.hover-icon{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 10px;
    display: flex;
}


/* ==========
back-to-top
========== */
.back-to-top{
    position: fixed;
    bottom: 80em;
    right: 10px;
    background-color: #fff;
    border-radius: 50%;
    padding: 3px;
    height: 25px;
    cursor: pointer;
    visibility: hidden;
    transition: 1s;
}
.back-to-top-active{
    visibility: visible;
    bottom: 4em;
}











/* -------------- madia query ------- */
@media (max-width: 550px){
    .nav-link{display: none}
    .about-me{
        flex-direction: column;
    }
    .about-img .img-me{
        border: 1px solid #ff0000;
        height: 75vw;
        width: 70vw;
        overflow: hidden;
    }
    .about-me .img-me img{
        width: 65vw;
    }
    .about-text h2{
        font-size: 8vw;
    }
    .about-text{
        color: #fff;
        max-width: 90vw;
    }
    .about-text p{
        font-size: 4vw;
        opacity: .7;
    }
    .cta-main{
        flex-direction: column;
    }
}
@media (max-width: 700px){.skill-main{grid-template-columns: repeat(1, 1fr);}}
@media (min-width: 550px){
    .mobile-menu{display: none}
    .mobile-menu-list{display: none}
}
@media (max-width: 500px){
    .contact-info{max-width:90%;}
    .h1{font-size: 1.1em;}
}
@media (max-width: 700px){
    .card{
        position: absolute;
        margin-top: -22em;
        background-color: #00999925;
        width: 20em;
        height: 22em;
        color:#009999;
        display: block;
    }
    .h1{font-size: 1.7em;}
}